body {
	background-color: tan;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-align: center;
}

form {
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	margin: 10px 25%;
}

input{
	border-radius: 10px;
	width: 70%;
	float: right;
}

.btn {
	/*height: 25px;*/
	width: 25%;
}